apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jautolog-postgres-backup-pvc
  labels:
    app: jautolog
    component: backup
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 20Gi
